*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    background-color: lightseagreen;
    position: absolute;
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    /* more property */
    animation-fill-mode: forwards; 
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes move {
   0% {
left: 0;
top: 0;
background-color: yellow;
rotate: 0deg;
   }

   50%{
    left:75%;
    background-color: lightgray;
    top: 0;
    rotate: 360deg;
   }

   100%{
left: 75%;
background-color: rgb(51, 47, 47);
top: 50%;
rotate: 360deg;
color: white;
   }
}